:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
    --menu-transition: ease-in-out 1s, ease-out 3s;
}

.container {
    display: inline-block;
    width: 60px;
    border: 3px solid transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
   /* margin: 100px;*/
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

.container:hover {
    transition: all 1s;
    background-color: transparent;
}

#menu:hover::before {
    transition: var(--menu-transition);
    transform: rotate(45deg);
    top: 0px;
}

#menu:hover::after {
    transition: var(--menu-transition);
    transform: rotate(-45deg);
    top: 0px;
}

#menu:hover {
    transition: var(--menu-transition);
    background-color: transparent;
}


